# `Sal.json` Processing

In [13]:
import pandas as pd
import re

Previwe sal.json file

In [70]:
df = pd.read_json("../data/sal.json", orient="index")
df.reset_index(names="locat", inplace=True)
df.tail()

                  locat  ste    gcc    sal
15335  christmas island    9  9oter  90001
15336       home island    9  9oter  90002
15337        jervis bay    9  9oter  90003
15338    norfolk island    9  9oter  90004
15339       west island    9  9oter  90005

In [71]:
# convert data type for each feature
df.ste = df.ste.astype("int8")
df.sal = df.ste.astype("int16")
df.dtypes

locat    object
ste        int8
gcc      object
sal       int16
dtype: object

In [72]:
# drop any rural sal value, this won't be use in the future
df = df[~df.gcc.str.contains(r"\dr[a-z]{3}")]
df.tail()

                  locat  ste    gcc  sal
15335  christmas island    9  9oter    9
15336       home island    9  9oter    9
15337        jervis bay    9  9oter    9
15338    norfolk island    9  9oter    9
15339       west island    9  9oter    9

In [73]:
df.shape

(3394, 4)

In [74]:
# Count number of index with state identifier, remove brackets around state abbreviations.
df[df.locat.str.contains("[()]")]

                              locat  ste    gcc  sal
1                  abbotsford (nsw)    1  1gsyd    1
7      alison (central coast - nsw)    1  1gsyd    1
12                  annandale (nsw)    1  1gsyd    1
14                      appin (nsw)    1  1gsyd    1
15                    arcadia (nsw)    1  1gsyd    1
...                             ...  ...    ...  ...
15311                    reid (act)    8  8acte    8
15316                  spence (act)    8  8acte    8
15317                stirling (act)    8  8acte    8
15322                theodore (act)    8  8acte    8
15331                  weston (act)    8  8acte    8

[668 rows x 4 columns]

In [75]:
# replace the () with an empty string
df.locat = df.agg(lambda x: re.sub(r"[()]", "", x.locat), axis=1)
df[df.locat.str.contains("[()]")]

Empty DataFrame
Columns: [locat, ste, gcc, sal]
Index: []

In [76]:
# count number of index contains ' - '
df[df.locat.str.contains(" - ")]

                                     locat  ste    gcc  sal
7               alison central coast - nsw    1  1gsyd    1
198                  colo hawkesbury - nsw    1  1gsyd    1
230                darlington sydney - nsw    1  1gsyd    1
255                    dural hornsby - nsw    1  1gsyd    1
274                 elderslie camden - nsw    1  1gsyd    1
286                enmore inner west - nsw    1  1gsyd    1
343        green point central coast - nsw    1  1gsyd    1
346              greendale liverpool - nsw    1  1gsyd    1
433                kingswood penrith - nsw    1  1gsyd    1
459   lansdowne canterbury-bankstown - nsw    1  1gsyd    1
477     lilli pilli sutherland shire - nsw    1  1gsyd    1
491          long point campbelltown - nsw    1  1gsyd    1
590           nelson the hills shire - nsw    1  1gsyd    1
679       pretty beach central coast - nsw    1  1gsyd    1
681   punchbowl canterbury-bankstown - nsw    1  1gsyd    1
746           silverwater parramatta - nsw    1  1gsyd    1
761        springfield central coast - nsw    1  1gsyd    1
765                 st clair penrith - nsw    1  1gsyd    1
778           summer hill inner west - nsw    1  1gsyd    1
807                 the rocks sydney - nsw    1  1gsyd    1
915       yellow rock blue mountains - nsw    1  1gsyd    1
4585              bellfield banyule - vic.    2  2gmel    2
4798                hillside melton - vic.    2  2gmel    2
5013     springfield macedon ranges - vic.    2  2gmel    2
7490                 albion brisbane - qld    3  3gbri    3
7505                  ascot brisbane - qld    3  3gbri    3
7539               birnam scenic rim - qld    3  3gbri    3
7591         cannon creek scenic rim - qld    3  3gbri    3
7602         cedar creek moreton bay - qld    3  3gbri    3
7622            clontarf moreton bay - qld    3  3gbri    3
7830              mackenzie brisbane - qld    3  3gbri    3
7869           mount archer somerset - qld    3  3gbri    3
7893      mount pleasant moreton bay - qld    3  3gbri    3
7918                 newtown ipswich - qld    3  3gbri    3
7964               red hill brisbane - qld    3  3gbri    3
8019     spring creek lockyer valley - qld    3  3gbri    3
8022             springfield ipswich - qld    3  3gbri    3
8056               the bluff ipswich - qld    3  3gbri    3
8057                the gap brisbane - qld    3  3gbri    3
8094               west end brisbane - qld    3  3gbri    3
8099              white rock ipswich - qld    3  3gbri    3

In [78]:
# replace " - " with " "
df.locat = df.agg(lambda x: re.sub(" - ", " ", x.locat), axis=1)
df[df.locat.str.contains(" - ")]

Empty DataFrame
Columns: [locat, ste, gcc, sal]
Index: []

In [83]:
# count number of index contains "."
df[df.locat.str.contains("\.")]

                  locat  ste    gcc  sal
4543    abbotsford vic.    2  2gmel    2
4548   albert park vic.    2  2gmel    2
4549        albion vic.    2  2gmel    2
4551        altona vic.    2  2gmel    2
4555      armadale vic.    2  2gmel    2
...                 ...  ...    ...  ...
14215     rose bay tas.    6  6ghob    6
14220     sandford tas.    6  6ghob    6
14226    south arm tas.    6  6ghob    6
14232     tranmere tas.    6  6ghob    6
14234  wattle hill tas.    6  6ghob    6

[128 rows x 4 columns]

In [84]:
# replace "\." with ""
df.locat = df.agg(lambda x: re.sub("\.", "", x.locat), axis=1)
df[df.locat.str.contains("\.")]

Empty DataFrame
Columns: [locat, ste, gcc, sal]
Index: []

In [85]:
df.value_counts("gcc")

gcc
1gsyd    920
3gbri    647
2gmel    572
4gade    494
5gper    397
8acte    137
6ghob    120
7gdar    102
9oter      5
dtype: int64

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3394 entries, 0 to 15339
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   locat   3394 non-null   object
 1   ste     3394 non-null   int8
 2   gcc     3394 non-null   object
 3   sal     3394 non-null   int16
dtypes: int16(1), int8(1), object(2)
memory usage: 89.5+ KB

In [89]:
df.to_parquet("../data/processed/sal.parquet")

In [90]:
df = pd.read_parquet("../data/processed/sal.parquet")
df.tail()

                  locat  ste    gcc  sal
15335  christmas island    9  9oter    9
15336       home island    9  9oter    9
15337        jervis bay    9  9oter    9
15338    norfolk island    9  9oter    9
15339       west island    9  9oter    9

In [92]:
from pathlib import Path
Path("./data/sal.json").parent

PosixPath('data')

In [128]:
import ijson

filename = "../data/twitter-data-small.json"

In [ ]:
def read_chunk(start):
        with open('largefile.json', 'r') as f:
            f.seek(start)
            parser = ijson.parse(f)
            for prefix, event, value in parser:
                if prefix == 'item' and event == 'start_map':
                    yield ijson.items(f, prefix)

In [ ]:
with open(filename, 'r') as f:
    size = os.path.getsize('largefile.json')

    num_chunks = 4
    chunk_size = size // num_chunks

In [125]:
pd.read_json(filename)[["_id", "data", "includes"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   _id       715 non-null    int64
 1   data      715 non-null    object
 2   includes  715 non-null    object
dtypes: int64(1), object(2)
memory usage: 16.9+ KB

In [2]:
import ijson

In [13]:
def yv(obj):
    yield yv

In [63]:
import pandas as pd
df = pd.read_json(filename)
df.shape

(715, 5)

In [117]:
df['author_id'] = pd.json_normalize(df['data'])['author_id']
df['locat'] = pd.json_normalize(df['includes']).apply(lambda x: x[0][0]['full_name'], axis=1)

In [118]:
df

,_id,_rev,data,includes,matching_rules,author_id,locat
0,1412193387575316480,2-0fa70896c4b97c5fa391af1b9ea8e0d1,"{'author_id': '836119507173154816', 'conversat...","{'places': [{'full_name': 'Australia', 'geo': ...","[{'id': 1412189062442586000, 'tag': 'Australia...",836119507173154816,Australia
1,1412195752344883200,1-1f2c1ed1b6971974f6cf160432cf5cd3,"{'author_id': '1399941819950006272', 'conversa...","{'places': [{'full_name': 'Australia', 'geo': ...","[{'id': 1412189062442586000, 'tag': 'Australia...",1399941819950006272,Australia
2,1412189452361891840,2-b7051a2bc867e5b4fc07265ca9be21c6,"{'author_id': '3022979040', 'context_annotatio...","{'places': [{'full_name': 'New South Wales, Au...","[{'id': 1412189062442586000, 'tag': 'Australia...",3022979040,"New South Wales, Australia"
3,1412189999055790080,2-ab62139e14adaf050ac13120deccbab6,"{'author_id': '558259110', 'conversation_id': ...","{'places': [{'full_name': 'New South Wales, Au...","[{'id': 1412189062442586000, 'tag': 'Australia...",558259110,"New South Wales, Australia"
4,1412190244280012800,2-9c5c10bf0b52ed25d5707650cf77b128,"{'author_id': '1158755742', 'conversation_id':...","{'places': [{'full_name': 'New South Wales, Au...","[{'id': 1412189062442586000, 'tag': 'Australia...",1158755742,"New South Wales, Australia"
...,...,...,...,...,...,...,...
710,1412198117932371968,2-006aa665ed988fdb89bef231685f833a,"{'author_id': '1348502962050535428', 'context_...","{'places': [{'full_name': 'Canberra, Australia...","[{'id': 1412189062442586000, 'tag': 'Australia...",1348502962050535428,"Canberra, Australian Capital Territory"
711,1412198454407794688,2-eec096a988dd97e133c574a1923ccdb7,"{'author_id': '137315172', 'conversation_id': ...","{'places': [{'full_name': 'Canberra, Australia...","[{'id': 1412189062442586000, 'tag': 'Australia...",137315172,"Canberra, Australian Capital Territory"
712,1412185329184821248,1-1d7753f02dc586d1600b99652ad43426,"{'author_id': '3306424254', 'conversation_id':...","{'places': [{'full_name': 'Canberra, Australia...","[{'id': 1412184603519971300, 'tag': 'Australia...",3306424254,"Canberra, Australian Capital Territory"
713,1412190755452424192,2-54b92b502587e83985f0a24b23a56037,"{'author_id': '7598552', 'conversation_id': '1...","{'places': [{'full_name': 'Braddon, Canberra',...","[{'id': 1412189062442586000, 'tag': 'Australia...",7598552,"Braddon, Canberra"
714,1412197569585848320,2-5eef29f3b507ee9b51f076dae89eb8f7,"{'author_id': '1397010827048194048', 'conversa...","{'places': [{'full_name': 'Fyshwick, Canberra'...","[{'id': 1412189062442586000, 'tag': 'Australia...",1397010827048194048,"Fyshwick, Canberra"

In [ ]:
 pathlib.Path('path').stat().st_size